body {
 font-family: Open Sans, Sans-serif;  
 color: #fff;
 font-size: 16px;
 line-height: 1.42;
 background:#001821;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

a {
  color:inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul.li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

 * {
  box-sizing: border-box;
}

.hero__background-top {
  background: url(./img/bg1.png) top center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.container {
  margin: 0 auto;
  width: 1145px;
}

.header {
  height: 120px;
  position: relative;
  margin-bottom: 81px;
}

.logo {
 display: block;
 position: absolute;
 top: 29px;
 left: 0px;
}

.menu {
  position: absolute;
  top: 40px;
  left: 159px;
}

.contacts {
  position: absolute;
  top: 27px;
  right: 0px;
}

.contacts__desc {
  font-size: 11px;
  color: #9A9A9A;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 54px;
}

.menu__item--active .menu__link {
  color:  #DA0100;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #DA0100;
}

.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
}

.hero {
  margin-bottom: 250px; 
}

.hero__text-section {
  width: 520px;
}

.hero__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.3;
  margin-bottom: 31px;
}

.hero__subtitle {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 47px;
}

.btn {
 background: #DA0100;
 border-radius: 35px;
 padding: 16px 32px;
 color: #fff;
 font-weight: 700;
 text-transform: uppercase;
 text-decoration: none;
 margin-bottom: 54px;
}

.btn:hover {
  background: #D10800;
}

.btn__watch {
  background: #fff;
  border-radius: 35px;
  border: 1px solid #F5170E;
  padding: 16px 32px;
  color: #DA0100;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin: 323px 208px 10px 19px;
 }

 .section {
  margin-bottom: 70px;
 }

 .section__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  display: inline-block;
  margin-right: 12px;
 }

 .section__title-pic {
  display: inline;
 }

 .tours__item {
  min-height: 550px;
  background: #fff;
  display: inline-block;
  vertical-align: top;
  border-radius: 4px;
  margin-right: 10px;
  width: 370px;
 }

 .tours__item:last-child {
  margin-right: 0;
 }

 .tours__header {
  height: 152px;
  width: 370px;
  display: block;
 }

 .tours__header-pic {
  height: 152px;
  width: 370px;
 }

 .tours__content {
  padding: 20px;
  display: block;
 }

.tours__title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 21px;
}

.tours__details {
  display: inline;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  margin-bottom: 22px;
  width: 126px;
  margin-right: 14px;
}

.tours__details:last-child {
  margin-right: 0;
}

.country__desc {
  font-size: 14px;
  font-weight: 400;
  color: #303030;

}

.tours__details-pic1 {
  display: inline;
  margin-right: 7px;
}

.tours__details-date {
  display: inline;
  vertical-align: top;
}

.tours__details-pic2 {
  display: inline;
  margin-right: 7px;
}

.tours__detais-meal {
  display: inline;
  vertical-align: top;
}

.section__title {
  margin-bottom: 50px;
}

.news__item {
  width: 557px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.news__item:last-child {
  margin-right: 0;
}


.news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  min-height: 140px;

}

.news__date {
  font-size: 14px;
  margin-bottom: 15px;
}

.news__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.pager {
  text-align: center;
  margin-top: 45px;
}

.pager__display, .pager__list {
  display: inline-block;
  vertical-align: middle;
}

.pager__display {
  margin-right: 26px;
}

.pager__item {
  display: inline-block;
  vertical-align: middle;
}

.pager__item--active {
  background: #fff;
  color:#F5170E ;
}

.pager__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
}

.about__item {
  display: inline-block;
  vertical-align: top;
  position: relative;
}  

.about__item-behind {
  width: 490px;
  height: 505px;
  border-radius: 4px;
  position: absolute;
  margin-top: -10px;

}

.about__item-front {
  top: -150px;
  width: 785px;
  height: 455px;
  border-radius: 4px;
  position: relative;
  margin-top: 210px;
  left: 350px;

}

.about__content {
  color: #000;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 70px 200px 50px 80px;
  height: 450px;
}

.about__title {
  font-size: 36px;
  font-weight: 700;
}

.footer {
  height: 95px;
  position: relative;
}

.socials {
  top: 50px;
  right: 300px;
  position: absolute;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item :hover {
  filter: contrast(10%) ;
  
}

.socials__item :last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;

}