body {
  color: #fff;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  line-height: 1.42;
  background:#ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1145px;
}

* {
  box-sizing: border-box;
}


a {
  color:inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.img {
  display: block;
  max-width: 100%;
}

.logo {
  display: block;
  margin-right: 80px;
}

.header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}

.contacts__desc {
  font-size: 11px;
  color: #9A9A9A;
}

.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 4px;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
}


.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 51px;
}

.menu__item--active .menu__link {
  color:  #DA0100;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #DA0100;
}

.headline {
  min-height: 410px;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  background: url(./img/services/headline.png) center top no-repeat;
  margin-bottom: 100px;
}

/* отступы справа при сужении? */

.headline__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}
/* неразрывные пробелы тоже подчеркиваются как ссылка */

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__item:after {
  content: "/";
  color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
  display: none;  
}

.breadcrumbs__link .breadcrumbs__item--active {
  color: #9A9A9A;
  font-weight: 400;
  font-size: 14px;
}

.breadcrumbs__item--active {
  font-style: normal;
  font-weight: 700;
}

.page__content {
  background: #fff;
  color: #303030;
}

.services {
  display: flex;
  flex-direction: column;
}

.sirvices__item {
  display: flex;
  margin-bottom: 25px;
}

.sirvices__item:last-child {
  margin-bottom: 0;
}

.service {
  margin-bottom: 40px;
}

.services__img {
  max-width: 460px;
  margin-right: 55px;
}

.service__content {
  flex: 1;
  color: #303030;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 25px;
}

.service__desc {
  color: #303030;
  line-height: 27px;
  display: flex;
  max-width: 650px;
}

.btn {
  background: #DA0100;
  border-radius: 35px;
  padding: 16px 38px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.btn__services--wrapper {
  margin-top: auto;
}

.pager {
  display: flex;
  margin-top: 55px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.pager--theme-light {
  color: black;
}

.pager__display, .pager__list {
  display: inline-block;
  vertical-align: middle;
}

.pager__display {
  margin-right: 26px;
}

.pager__list {
  display: flex;
  align-items: center;
}

.pager__item {
  text-align: center;
}

.pager--theme-light .pager__item--active {
  background: #F5170E;
  color:#ffffff ;
  border-radius: 50%;
}

.pager__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
}

.pager--theme-light .pager__link:hover {
  background: #F5170E;
  color:#ffffff ;
  border-radius: 50%;
}

.inner-section {
  padding: 90px 390px 120px;
}

.inner-section--bg--gray {
  background: #F4F5F5;
}

.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  color: #1A1B1E;
  margin-bottom: 80px;
}


.partners {
  display: flex;
  flex-wrap: wrap;
}

.partners__link {
  display: flex;
  text-decoration: none;
  width: 280px;
  height: 100px;
  align-items: center;
}

.footer {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #001821;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  justify-content: flex-end;
}

.socials {
  margin-right: 75px;
  align-items: start;
}
  
.socials__item {
  margin-right: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
  
.socials__item :hover {
  filter: contrast(10%) ;
}
  
.socials__item :last-child {
  margin-right: 0;
}
  
.contacts__desc {
  font-size: 11px;
  color: #9A9A9A;
}
  
.contacts {
  font-style: normal;
  text-align: right;
}
  
.contacts__phone {
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 4px;
}
  
.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
}
  