.about__item {
  position: relative;
  margin-top: 85px;
  margin-bottom: 100px;
}  

.about__item-behind {
  background: url(./img/gates.png);
  background-size: cover;
  width: 490px;
  height: 505px;
  border-radius: 5px;
  display: block;

}

.about__item-front {
  background: url(./img/mountains.png);
  background-size: cover;
  min-width: 785px;
  height: 455px;
  border-radius: 5px;
  left: 32%;
  display: flex;
  position: absolute;
  top: 20%;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-top: 70px;
  flex-direction: column;
}

.about__content {
  color: #000;
  max-width: 500px;
}

.about__title {
  font-size: 36px;
  font-weight: 700;
}

.about__btn--wrapper {
  margin-top: auto;
  padding-bottom: 20px;
}