
.btn {
  cursor: pointer;
  border-radius: 35px;
  padding: 16px 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  width: 135px;
  height: 55px;
  border: none
}

.btn--theme--red {
  background: #F5170E;
  color: #fff;
}

.btn--theme--white {
  background: #ffffff;
  color: #F5170E;
  border: 1px solid #F5170E;
}

.btn--theme--white--active {
  background: #F5170E;
  color: #fff;
}

.btn--theme--gray {
  background: #8E8E8E;
  color: #fff;
}

.btn--theme--gray:hover {
  background: #2B2B2B;
}
