.control {
  display: flex;
  flex-wrap: wrap;
}

.control__elem {
  position: relative;
}
.control__checkbox {
 appearance: none;
 position: absolute; 
}

.control__tag {
  border: 2px solid transparent;
}