.contacts__desc {
  font-size: 11px;
  color: #9A9A9A;
}

.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 4px;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
}
