.line {
  min-height: 360px;
  background: url(/img/decor/Rectangle.png) center no-repeat;
}

.line__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.line__title {
  font-size: 48px;
  font-weight: bold;
  display: flex;
}

.line__pic {
  display: flex;
  min-height: 360px;
  background: url(/img/decor/couple.png);
  background-size: cover;
  background-repeat: no-repeat;
}