.pager {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pager__services {
  margin-top: 30px;
  margin-bottom: 40px;
}

.pager__reviews {
  margin-top: 70px;
  margin-bottom: 85px;
}

.pager__display, .pager__list {
  display: inline-block;
  vertical-align: middle;
}

.pager__display {
  margin-right: 26px;
}

.pager__list {
  display: flex;
  align-items: center;
}

.pager__item {
  text-align: center;
}

.pager__item--active {
  background: #fff;
  color:#F5170E ;
  border-radius: 50%;
}

.pager__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
}

.pager--theme-light {
  color: #000;

}

.pager--theme-light .pager__item--active {
  background: #F5170E;
  color:#ffffff ;
  border-radius: 50%;
}

