
.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.partners__item {
  margin-right: 43px; 
  margin-bottom: 55px;
  filter: grayscale(1);
}

.partners__item:hover {
  filter: grayscale(0);
}

.partners__item:nth-child(4n+4) {
  margin-right: 0;
}