
.inner-section--bg--gray {
  background: #F4F5F5;
  max-height: 535px;
  padding: 90px 0 120px;
}

.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  color: #1A1B1E;
  margin-bottom: 80px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.partners__item {
  margin-right: 43px; 
  margin-bottom: 55px;
  filter: grayscale(1);
}

.partners__item:hover {
  filter: grayscale(0);
}

.partners__item:nth-child(4n+4) {
  margin-right: 0;
}