.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.reviews__item {
  width: calc(97% / 2);
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  min-height: 690px;
  padding: 50px 30px 30px;
  border-radius: 5px;
}

.reviews__item--bg--gray {
  background-color: #F4F5F5;
}
 
.reviews__header {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.reviews__photo {
  margin-right: 23px;
}

.reviews__userdata {
  display: flex;
  flex-direction: column;
}

.reviews__user {
  font-size: 24px;
  font-weight: bold;
  color: #1A1B1E;
  text-decoration: none;
}

.reviews__user--acive {
  color: #2E77A4;
  text-decoration: underline;
}

.reviews__user::after {
  content: url(./img/icons/vk-blue\ 1.png);
}

.review__tag {
  margin-top: 10px;
  padding: 10px 20px;
}

.reviews__title {
  font-size: 30px;
  font-weight: bold;
  color: #1A1B1E;
}

.reviews__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews__content-text {
  font-size: 18px;
  font-weight: normal;
  color: #818181;
}

.reviews__date {
  font-size: 14px;
  font-weight: 600;
  color: #1A1B1E;
  margin-top: auto;
}