.reviews__title {
  font-size: 30;
  font-weight: bold;
  color: #1A1B1E;
}

.reviews__desc {
  font-size: 16;
  font-weight: normal;
  color: #818181;
  line-height: 27px;
  min-height: 270px;
}

.reviews__date {
  font-size: 14;
  font-weight: 600;
  color: #1A1B1E;
  margin-top: auto;
}
