.seporator {
  background: url(../../img/decor/Rectangle.png) center no-repeat;
}

.seporator__content {
  min-width: 1140px;
  display: flex;
  min-height: 360px;
}

.seporator__content::after {
  content: url(../../img/decor/couple.png);
  margin-top: auto;
}

.separator__title {
  font-size: 48px;
  font-weight: bold;
  margin: auto;
}