.socials {
  margin-right: 75px;
  align-items: start;
}
  
.socials__item {
  margin-right: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
  
.socials__item :hover {
filter: contrast(10%) ;
}
  
.socials__item :last-child {
  margin-right: 0;
}