.top-line {
  min-height: 410px;
  flex-direction: column;
  background: url(/img/decor/headline\ 1.png) center no-repeat;
  margin-bottom: 105px;
}

.container__top-line {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

